<h1>Comments</h1>
<table class="table">
    <thead>
        <tr>
            <th class="col">#</th>
            <th class="col">Author of comment</th>
            <th class="col">Post title</th>
            <th class="col">Comment body</th>
        </tr>
    </thead>
    <% @comments.each do |comment| %>
        <tr>
            <th>
                <%= comment.id %>
            </th>
            <th>
                <%= link_to comment.user.login, user_path(comment.user.id), class: "link-info" %>
            </th>
            <th>
                <%= link_to comment.post.title, post_path(comment.post_id) %>
            </th>
            <th>
                <%= comment.body %>
            </th>
        </tr>
        <%end%>
</table>