<h1>"<%= @user.login %>" posts</h1>

<ul>
    <% @user.posts.each do |post| %>
        <b><li><%= post.title %></li></b>
        <%= post.body %>
    <% end %>
</ul>

<h1>"<%= @user.login %>" comments</h1>
