@import 'bootstrap/scss/bootstrap';
@import 'bootstrap-icons/font/bootstrap-icons';

.container-fluid{
  .main{
    padding-left: 0px !important;
    padding-right: 0px !important;
    padding-top: 10px;
  }

}

.head{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.head>div{
  display: flex;
  flex-direction: row;
  column-gap: 20px;
  align-items: center;
}

.kk{
  margin: 10px;
}

.user_header{
  color: white !important;
}
